body {
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button {
  background-color: #139A43;
  border-color: #f0f0f0;
  color: #f0f0f0;
  display: block;
  font-size: 1em;
  font-weight: 400;
  height: 31px;
  width: 110px;
}

h1 {
  font-weight: 600;
  display: block;
  margin: 0;
}

h4 {
  display: block;
  font-weight: 400;
  height: 26%;
  margin: 0;
  width: 34%;
}

header {
  background-color: #139A43;
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
}

img {
  display: block;
  height: 50%;
  margin: 0;
  width: 35%;
}

p {
  font-weight: 300;
  display: block;
}

.arrows {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 92%;
}

.blog {
  background-color: #139A43;
}

.button-box {
  display: flex;
  flex-direction : row;
  justify-content: space-around;
  width: 238px;
}

.button-icon {
  display: inline-block;
}

.contact, .experience {
  background-color: #053B06;
}

.education {
  background-color: #0B5D1E;
}

.left-arrow, .right-arrow {
  background-color: #f0f0f0;
  border: 2px solid #0DAB76;
  border-radius: 150%;
  height: 50px;
  width: 50px;
}

.left-arrow:hover, .right-arrow:hover {
  transform: scale(1.1);
}

.portfolio, .social-menu {
  background-color: #000000;
}

.profile {
  background-color: #0DAB76;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.tiles {
  flex: 6;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}

.images {
  flex: 4;
  background: url('./bunny.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}

.blog, .contact, .education, .experience, .portfolio, .profile, .social-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {

  img {
  width: 30%;
}

 .images {
  order: -1;
  background-position: top -50px center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

.left-arrow, .right-arrow {
  height: 50px;
  width: 50px;
}

  .wrapper {
    flex-direction: column;
  } 
}

@media screen and (max-width: 900px) {
  
.images {
  order: -1;
  background-position: top -50px center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 796px) {

  header {
    grid-column: span 1;
  }

  .contact {
    display: flex;
    order: 1;
  }

  .images {
    height: 300px;
  }

  .social-menu {
    font-size: 14px;
  }

  .tiles {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .wrapper {
    height: auto;
  }
}

@media screen and (max-width: 555px) {


  h4 {
    display: block;
    font-weight: 400;
    height: 0%;
    margin: 0;
    width: 34%;
  }

  img {
    display: block;
    height: 50%;
    margin: 0;
    width: 27%;
  }

  .images {
    order: -1;
    background-position: top 0px center;
  }

  .portfolio {
    display: flex;
    order: 2;
  }

  .tiles {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .wrapper {
    height: auto;
  }
}

@media screen and (max-width: 415px) {
  
  .left-arrow, .right-arrow {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 400px) {

  .images {
    order: -1;
    background-position: top 0px center;
  }
}

@media screen and (max-width: 375px) {

  .left-arrow, .right-arrow {
    height: 30px;
    width: 30px;
  }
}





